<div class="bg-purple-900 w-full h-screen bg-cover ">
  <div class="container mx-auto pt-20">
    <div class="bg-white w-full max-w-lg m-auto px-15 py 15 shadow-2xl rounded-xl">
      <h1 class="text-center font-bold text-3xl pt-10 text-blue-900">Random Password Generator</h1>
<div class="py-4 px-3">
<label class="text-xl text-blue-900 font-bold">Enter Length</label><br>
<input class="w-full p-3 ring-1 ring-blue-900 border border-blue-900 outline-none" #Test (change) = "onChangeLength(Test.value)"  />
</div>
<div class="py-4 px-3">
  <input (change) ="onChangeUseLetters()" type="checkbox" class=" outline-none border-0"/>
  <label class="font-semibold text-xl ml-2 text-blue-900">Use letters</label>
  </div>

<div class="py-4 px-3">
<input (change) = "onchangeUseNumbers()" type="checkbox"/>
  <label class="font-semibold text-xl ml-2 text-blue-900">Use Numbers</label>
  </div>


<div class="py-4 px-3">
  <input (change) = "onchangeUseSymbols()" type="checkbox"/>
  <label class="font-semibold text-xl ml-2 text-blue-900"> Use Symbols</label>
</div>

<div class="py-5 px-3 text-center">
<button  [disabled] = "!(_length && (includeNumbers || includeLetters || includeSymbols))" (click)="onButtonClick()" class="p-3  text-center font-semibold  rounded text-xl bg-blue-900 text-white ">Generate!</button>
</div>

<div class="py-4 px-3" *ngIf="password">
  <label class="text-xl text-blue-900 font-bold">Your Password</label><br>
<input class="w-full p-3 ring-1 ring-blue-900 border border-blue-900 outline-none" [value]= "password"/>
</div>
    </div>
  </div>
</div>
